<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DgieWSPortSoapBinding" />
                <binding name="DgieWSPortSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.banxico.org.mx/DgieWSWeb/DgieWS"
                binding="basicHttpBinding" bindingConfiguration="DgieWSPortSoapBinding"
                contract="BanxicoWebService.DgieWSPort" name="DgieWSPort" />
            <endpoint address="http://www.banxico.org.mx/DgieWSWeb/DgieWS"
                binding="basicHttpBinding" bindingConfiguration="DgieWSPortSoapBinding1"
                contract="BanxicoService.DgieWSPort" name="DgieWSPort1" />
        </client>
    </system.serviceModel>
</configuration>